@import url("https://fonts.googleapis.com/css2?family=Cabin&family=Poppins:wght@100;200;700&family=Quicksand:wght@300&display=swap");
@import url(../estilos/Branding-Style.css);
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

nav {
  background: #000;
  height: 80px;
  width: 100%;
}

.enlace {
  position: absolute;
  padding: 10px 50px;
}

.logo {
  height: 60px;
}

nav ul {
  float: right;
  margin-right: 20px;
}
nav ul li {
  display: inline-block;
  margin: 25px 5px 0 5px;
}
nav ul li a {
  color: #a7aaaa;
  font-size: 15px;
  font-family: "Quicksand", sans-serif;
  font-weight: lighter;
  padding: 7px 13px;
  border-radius: 3px;
}

li a.active, li a:hover {
  color: #f7ee00;
  transition: 0.5s;
  text-decoration: none;
}

.checkbtn {
  font-size: 30px;
  color: #fff;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}

a {
  text-decoration: none;
  color: #fff;
}

a:hover {
  color: #f7ee00;
  text-decoration: underline;
}

#bienvenida {
  min-height: 100vh;
  position: relative;
}
#bienvenida .soy {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: start;
  width: 60%;
  padding-top: 120px;
  margin: auto;
  position: relative;
  z-index: 2;
}
#bienvenida .soy .line1 {
  font-family: "Poppins", sans-serif;
  font-size: 40px;
  color: #f7ee00;
}
#bienvenida .soy .line2 {
  display: inline-block;
  vertical-align: bottom;
  animation: blinker 10s linear infinite;
  animation-delay: 30s;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 70px;
  color: #f7ee00;
  line-height: 100%;
}
#bienvenida .soy .line2 span {
  float: left;
  overflow: hidden;
  animation: hideShow 2s linear infinite;
}
#bienvenida .soy .line2 span:nth-child(1) {
  animation-delay: -5s;
}
#bienvenida .soy .line2 span:nth-child(2) {
  animation-delay: -10s;
}
@keyframes hideShow {
  0% {
    width: 0;
  }
  100% {
    width: auto;
  }
}
#bienvenida .soy .line3 {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  color: #fff;
  width: 60%;
  margin-top: 20px;
}
#bienvenida .soy .boton1 {
  padding: 10px;
  margin-top: 50px;
  background-color: #f7ee00;
  border-radius: 20px;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  transition: all 0.2s;
}
#bienvenida .soy .boton1:hover {
  transform: scale(1.1);
  transition: all 0.4s;
}
#bienvenida video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#bienvenida .capa {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.8;
}

.servicios {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.servicios .titulo-servicios {
  background-color: #f7ee00;
  padding: 20px 40px;
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
}
.servicios p {
  margin-top: 30px;
  color: #000;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 500;
  width: 50%;
  text-align: center;
}

.galeria-home {
  margin-top: 30px;
  width: 100%;
  height: 1200px;
  display: grid;
  grid-template-columns: repeat(3, 360px);
  grid-template-rows: repeat(3, 360px);
  justify-content: center;
}
.galeria-home .img {
  background-size: cover;
  background-position: center;
}

.img1 {
  background-image: url(../Images/index-Dis.jpg);
  transition: all 0.2s;
}

.img2 {
  background-image: url(../Images/GyJ-Branding.png);
  transition: all 0.2s;
}

.img3 {
  background-image: url(../Images/Diseno-Stand.png);
  transition: all 0.2s;
  filter: grayscale(100%);
}

.img4 {
  background-image: url(../Images/Br-Rambo-a.png);
  transition: all 0.2s;
}

.img5 {
  background-image: url(../Images/DS-Acer.png);
  transition: all 0.2s;
  filter: grayscale(100%);
}

.img6 {
  background-image: url(../Images/index-Arq.jpg);
  transition: all 0.2s;
}

.img7 {
  background-image: url(../Images/SM-intel-a.jpg);
  transition: all 0.2s;
}

.img8 {
  background-image: url(../Images/GyJ-Branding.png);
  transition: all 0.2s;
}

.img9 {
  background-image: url(../Images/DA-Molino.jpg);
  transition: all 0.2s;
  filter: grayscale(100%);
}

.img1:hover {
  transform: scale(1.01);
  transition: all 0.4s;
  transform: rotate(-90deg);
}

.img2:hover {
  background-image: url(../Images/GyJ-Branding-a.png);
  transform: scale(1.01);
  transition: all 0.4s;
}

.img3:hover {
  transform: scale(1.01);
  transition: all 0.4s;
  filter: grayscale(0%);
}

.img4:hover {
  background-image: url(../Images/Br-Rambo.png);
  transform: scale(1.01);
  transition: all 0.4s;
}

.img5:hover {
  transform: scale(1.01);
  transition: all 0.4s;
  filter: grayscale(0%);
}

.img6:hover {
  transform: scale(1.01);
  transition: all 0.4s;
  transform: rotate(90deg);
}

.img7:hover {
  background-image: url(../Images/SM-intel.jpg);
  transform: scale(1.01);
  transition: all 0.4s;
}

.img8:hover {
  background-image: url(../Images/GyJ-Branding-a.png);
  transform: scale(1.01);
  transition: all 0.4s;
}

.img9:hover {
  transform: scale(1.01);
  transition: all 0.4s;
  filter: grayscale(0%);
}

.miPerfil {
  background-color: #f7ee00;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}
.miPerfil .fotoIndexPerfil {
  margin-left: 50px;
  width: 300px;
}
.miPerfil .textPerfil {
  padding: 30px;
}
.miPerfil .textPerfil .nombreInd {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 40px;
}
.miPerfil .textPerfil .profesionInd {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
}
.miPerfil .textPerfil .lkdn {
  font-size: 30px;
  color: #151616;
}
.miPerfil .textPerfil .boton2 {
  display: block;
  padding: 10px;
  margin-top: 20px;
  background-color: #f7ee00;
  border-radius: 20px;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  transition: all 0.2s;
}
.miPerfil .textPerfil .boton2:hover {
  transform: scale(1.1);
  transition: all 0.4s;
}

.ctaIndex {
  font-size: 80px;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  padding: 20px;
  color: #000;
}

.carousel-caption h3 {
  font-size: 50px;
}

.btn {
  transition: all 0.2s;
}

.btn:hover {
  transform: scale(1.7);
  transition: all 0.4s;
}

.headerSM {
  background-color: #000;
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
  align-items: center;
}
.headerSM img {
  width: 500px;
}
.headerSM .textSM p {
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-size: 100px;
  font-weight: bold;
  margin-left: 20px;
}
.headerSM .textSM .boton3 {
  display: block;
  padding: 10px;
  margin-top: 20px;
  background-color: #f7ee00;
  border-radius: 20px;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  transition: all 0.2s;
}
.headerSM .textSM .boton3:hover {
  transform: scale(1.1);
  transition: all 0.4s;
}

.connect {
  background-color: #0091ff;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  font-size: 20px;
}

.profile {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
}
.profile .sec1 {
  width: 100%;
}
.profile .sec1 .iconosDis {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  background-color: #f7ee00;
}
.profile .sec1 .iconosDis .ic1 {
  transition: all 0.2s;
}
.profile .sec1 .iconosDis .ic1 img {
  width: 150px;
  padding: 20px 20px 0 20px;
}
.profile .sec1 .iconosDis .ic1 h2 {
  font-family: "Poppins", sans-serif;
  text-align: center;
  font-size: 15px;
  margin-bottom: 20px;
}
.profile .sec1 .ic1:hover {
  transform: scale(1.05);
  transition: all 0.5s;
}
.profile .sec1 .textdig {
  background-color: #000;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: auto;
}
.profile .sec1 .textdig p {
  width: 70%;
  font-family: "Poppins", sans-serif;
  padding: 30px;
  text-align: center;
  color: #fff;
}
.profile .iconosArq {
  width: 100%;
  background-color: #000;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}
.profile .iconosArq .ic2 {
  transition: all 0.2s;
}
.profile .iconosArq .ic2 img {
  width: 150px;
  padding: 20px 20px 0 20px;
}
.profile .iconosArq .ic2 h2 {
  font-family: "Poppins", sans-serif;
  text-align: center;
  font-size: 15px;
  margin-bottom: 20px;
  color: #fff;
}
.profile .iconosArq .ic2:hover {
  transform: scale(1.05);
  transition: all 0.5s;
}

.Sec2 {
  background-color: #f7ee00;
  width: 100%;
  padding: 50px;
  display: block;
  text-align: center;
  font-family: "Poppins", sans-serif;
  color: #000;
  font-size: 80px;
}

.sec3 {
  display: block;
  font-size: 40px;
  padding: 50px;
  text-align: center;
  font-family: "Poppins", sans-serif;
}

.mt-4 {
  background-image: url(../Images/IMG-SM-02.png);
  background-size: cover;
  background-position: center;
  text-align: center;
  transition: all 0.2s;
}

.mt-4:hover {
  transform: scale(1.05);
  transition: all 0.5s;
}

.mt-4 img:hover {
  transform: rotateZ(-90deg);
}

.mt-4 .SM-02 {
  height: 50px;
}

h5 {
  font-weight: bold;
  font-size: 50px;
  margin-top: 30px;
  margin-bottom: 30px;
  color: #151616;
}
h5 a {
  font-weight: bold;
  font-size: 50px;
  margin-top: 30px;
  margin-bottom: 30px;
  color: #151616;
}

h5 a:hover {
  color: #fff;
  text-decoration: none;
  background-color: #000;
}

.form-select {
  text-align: center;
}

.nav-link {
  color: #000;
}

.dropdown-item:hover {
  font-weight: bold;
  transform: scale(1.1);
  transition: all 0.5s;
  background-color: rgba(255, 255, 255, 0);
}

.gallery-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 250px;
  padding: 50px 200px;
  grid-gap: 10px;
}
.gallery-container .gallery__item {
  position: relative;
  transition: all 0.2s;
  filter: grayscale(1);
}
.gallery-container .gallery__item .gallery__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.gallery-container .gallery__item .gallery__title {
  position: absolute;
  bottom: 0;
  color: #fff;
  background: linear-gradient(rgba(255, 255, 255, 0), rgb(0, 0, 0));
  width: 100%;
  margin: 0;
  padding: 10px;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
}

.gallery__item:hover {
  transform: scale(1.02);
  transition: all 0.5s;
  filter: grayscale(0);
}

.gallery__item:nth-child(2) {
  grid-row-start: span 2;
}

.gallery__item:nth-child(3) {
  grid-column-start: span 2;
}

.gallery__item:nth-child(6) {
  grid-row-start: span 2;
}

.gallery__item:nth-child(8) {
  grid-column-start: span 2;
}

.frase p {
  background-color: #f7ee00;
  padding: 50px;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 30px;
}

header {
  background-size: cover;
  background-position: center;
  background-image: url(../Images/Contacto.jpg);
  width: 100%;
  height: auto;
}

.contactoText {
  display: flex;
  justify-content: center;
}
.contactoText p {
  font-size: 50px;
  padding: 20px;
  text-align: center;
  font-family: "Cabin", sans-serif;
  font-weight: bold;
  color: #fff;
}

.contenedorHeader {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 100%;
}

.contenidoIzq {
  width: 50%;
  height: auto;
}

.textContact1 {
  color: #f7ee00;
  padding: 30px;
  margin-top: 90px;
  margin-left: 50px;
  font-size: 40px;
  font-family: "Cabin", sans-serif;
  font-weight: lighter;
  line-height: 50px;
}

.textContact1 .textMed {
  font-size: 80px;
  font-weight: bold;
  animation-duration: 2s;
  animation-name: aparecer;
  animation-delay: 5s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

@keyframes aparecer {
  0% {
    opacity: 0;
  }
  50% {
    transform: translateX(100px);
  }
  100% {
    opacity: 1;
    transform: translateX(-100px);
  }
}
.contenidoIzq p {
  font-size: 20px;
  font-family: "Cabin", sans-serif;
  text-align: left;
  color: #fff;
  padding: 30px;
  margin-left: 50px;
}

.contenidoDer {
  width: auto;
  height: auto;
}

.contenedorForm {
  width: 500px;
  height: 650px;
  background-color: #151616;
}

.contenedorForm p {
  font-family: "Cabin", sans-serif;
  color: #fff;
  width: 400px;
  padding-top: 30px;
  margin-left: 50px;
  margin-top: 20px;
}

.contenedorForm form {
  text-align: left;
  font-weight: bold;
  font-family: "Cabin", sans-serif;
  margin-top: 20px;
  margin-left: 50px;
}

.contenedorForm form ul {
  list-style: none;
}

.contenedorForm form ul li {
  margin-top: 20px;
  color: #fff;
}

.contenedorForm form ul li input {
  width: 350px;
  height: 20px;
  background-color: #fff;
  border: none;
}

.contenedorForm form ul li textarea {
  width: 350px;
  height: 70px;
  background-color: #fff;
  border: none;
}

.check {
  margin-top: 20px;
  color: #fff;
}

.enviar input {
  margin-top: 20px;
  width: 100px;
  height: 30px;
  color: #fff;
  background-color: black;
  font-family: "Cabin", sans-serif;
  cursor: pointer;
}

.enviar input:hover {
  background-color: #f7ee00;
}

@media (max-width: 952px) {
  .enlace {
    padding-left: 20px;
  }
  nav ul li a {
    font-size: 16px;
  }
  .line2 {
    font-size: 50px;
  }
  .galeria-home {
    width: 100%;
    height: 1200px;
    display: grid;
    grid-template-columns: repeat(3, 260px);
    grid-template-rows: repeat(3, 260px);
    justify-content: center;
  }
  .textContact1 {
    color: #f8b900;
    padding: 0 30px;
    margin-top: 20px;
    margin-left: 5px;
    font-size: 20px;
    font-family: "Cabin", sans-serif;
    font-weight: lighter;
  }
  .textContact1 .textMed {
    font-size: 60px;
    line-height: 50px;
  }
  .contenidoIzq p {
    font-size: 16px;
    font-family: "Cabin", sans-serif;
    text-align: left;
    color: #fff;
    padding: 0 30px;
    margin: 30px 0 30px 5px;
    line-height: 50px;
  }
  .gallery-container {
    grid-template-columns: repeat(3, 1fr);
    margin: auto;
    grid-auto-rows: 180px;
    padding: 50px 100px;
  }
  .gallery__item:nth-child(2) {
    grid-column-start: span 1;
    grid-row-start: span 2;
  }
  .gallery__item:nth-child(3) {
    grid-column-start: span 1;
    grid-row-start: span 1;
  }
  .gallery__item:nth-child(5) {
    grid-column-start: span 1;
    grid-row-start: span 2;
  }
}
@media (max-width: 858px) {
  .checkbtn {
    display: block;
  }
  nav ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.98);
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all 0.5s;
    z-index: 3;
  }
  nav ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  nav ul li a {
    font-size: 20px;
  }
  li a:hover, li a.active {
    background: none;
    color: #fff;
  }
  #check:checked ~ ul {
    left: 0;
  }
  #bienvenida {
    min-height: 100vh;
    position: relative;
  }
  #bienvenida .soy {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: start;
    width: 60%;
    padding-top: 120px;
    margin: auto;
    position: relative;
    z-index: 2;
  }
  #bienvenida .soy .line1 {
    font-family: "Poppins", sans-serif;
    font-size: 40px;
    color: #f7ee00;
  }
  #bienvenida .soy .line2 {
    display: inline-block;
    vertical-align: bottom;
    animation: blinker 10s linear infinite;
    animation-delay: 30s;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    font-size: 60px;
    color: #f7ee00;
    line-height: 100%;
  }
  #bienvenida .soy .line2 span {
    float: left;
    overflow: hidden;
    animation: hideShow 2s linear infinite;
  }
  #bienvenida .soy .line2 span:nth-child(1) {
    animation-delay: -5s;
  }
  #bienvenida .soy .line2 span:nth-child(2) {
    animation-delay: -10s;
  }
  @keyframes hideShow {
    0% {
      width: 0;
    }
    100% {
      width: auto;
    }
  }
  #bienvenida .soy .line3 {
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    color: #fff;
    width: 90%;
    margin-top: 20px;
  }
  #bienvenida .soy .boton1 {
    padding: 10px;
    margin-top: 50px;
    background-color: #f7ee00;
    border-radius: 20px;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    transition: all 0.2s;
  }
  #bienvenida .soy .boton1:hover {
    transform: scale(1.1);
    transition: all 0.4s;
  }
  .galeria-home {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(2, 200px);
    grid-template-rows: repeat(5, 200px);
    justify-content: center;
  }
  .ctaIndex {
    font-size: 40px;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    text-align: center;
    padding: 20px;
    color: #000;
  }
  .gallery-container {
    grid-template-columns: repeat(2, 1fr);
    margin: auto;
    grid-auto-rows: 160px;
    padding: 50px 60px;
  }
  .gallery__item:nth-child(2) {
    grid-column-start: span 1;
    grid-row-start: span 2;
  }
  .gallery__item:nth-child(3) {
    grid-column-start: span 1;
    grid-row-start: span 1;
  }
  .gallery__item:nth-child(5) {
    grid-column-start: span 1;
    grid-row-start: span 2;
  }
  header {
    background-image: url(../Images/Contacto.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: auto;
  }
  .textContact1 {
    color: #f7ee00;
    padding: 0px;
    margin-top: 10px;
    margin-left: 0px;
    font-size: 20px;
    font-family: "Cabin", sans-serif;
    font-weight: lighter;
    line-height: 50px;
  }
  .textContact1 .textMed {
    font-size: 60px;
    line-height: 50px;
  }
  .contenidoIzq p {
    font-size: 16px;
    font-family: "Cabin", sans-serif;
    text-align: left;
    color: #fff;
    padding: 0px;
    margin: 10px 0;
    line-height: 20px;
  }
}/*# sourceMappingURL=estilos.css.map */